[submodule "layers/layer-service-account"]
	path = layers/layer-service-account
	url = https://github.com/alchemy-charmers/layer-service-account.git
[submodule "layers/layer-version"]
	path = layers/layer-version
	url = https://github.com/alchemy-charmers/layer-version.git
[submodule "layers/layer-hostname"]
	path = layers/layer-hostname
	url = https://github.com/chris-sanders/layer-hostname.git
[submodule "layers/layer-backup"]
	path = layers/layer-backup
	url = https://github.com/alchemy-charmers/layer-backup.git
[submodule "interfaces/interface-plex-info"]
	path = interfaces/interface-plex-info
	url = https://github.com/chris-sanders/interface-plex-info.git
[submodule "interfaces/interface-usenet-downloader"]
	path = interfaces/interface-usenet-downloader
	url = https://github.com/chris-sanders/interface-usenet-downloader.git
[submodule "interfaces/interface-reverseproxy"]
	path = interfaces/interface-reverseproxy
	url = https://github.com/alchemy-charmers/interface-reverseproxy.git
